
/**
 * @Section Basics
 */

body, html {
    padding: 0;
    margin: 0;
    background: #eee;
    font: 400 1em Roboto, "Helvetica Neue", Helvetica, Arial;
    color: #343434;
}

h3 {
    margin: 1rem;
    color: #9e9e9e;
    font-size: 1.2rem;
    font-weight: 300;
}

a, .link {
	text-decoration: none;
	color: #2196f3;
	background-color: transparent;
	outline: 0;
	transition: color .4s ease-out 0s, background-color .4s ease-out 0s;
}
a:hover, .link:hover {
	color: #1565c0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
	padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fff;
}
li[data-role="list-divider"] {
	background-color: #f44336;
    color: #fff;
    font-weight: 700;
}


/**
 * @Section Forms
 */

::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholder {
	color: #e0e0e0;
}

.form-box {
	margin: 1rem 0 .5rem;
}

.swap-order {
	display: flex;
	flex-direction: column-reverse;
}

.autofill-box {
	position: absolute;
	left: 0;
	width: 100%;
	margin-top: -8px;
}

.autofill {
	margin: 0 2rem;
}
.autofill ul li {
	background-color: #F44336;
	color: #fff;
	border: 0;
	transition: background-color .4s ease-out 0s;
}
.autofill ul li:hover, .autofill ul li.active {
	background-color: #e53935;
	cursor: pointer;
}
#autofill_stop {
    display: none;
}


label, .label {
	display: block;
	font-size: .75rem;
	color: #9e9e9e;
	transition: color .4s ease-out 0s;
}
input[value=""] + label {
	opacity: 0;
}
input:focus + label {
	color: #f44336;
}

input, .input {
	display: block;
	width: 100%;
	padding: .5em 0;
	margin: 0 0 8px;
	border: 1px solid #e0e0e0;
	border-width: 0 0 1px;
	outline: none;
	font-size: 1rem;
	transition: border-color .4s linear 0s;
}
.input {
	border: 0;
}
input:focus {
	margin-bottom: 7px;
	border-bottom: 2px solid #f44336;
}



/**
 * @Section Custom Layouts
 */

.content-box, .list-box {
    margin: 1rem 1rem 0;
    padding: 0;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
}
.content-box {
	padding: 1rem;
}

.flex-box {
	display: flex !important;
	align-items: stretch;
	justify-content: space-between;
	width: 100%;
}

a.item-link {
	display: block;
	margin: -1rem;
	padding: 1rem;
}
a.item-link:hover {
	background-color: #f5f5f5;
}

ul .cal-time {
    font-weight: 700;
}

.taskbar {
	display: flex;
	justify-content: space-between;
  height:1em;
}
.taskbar svg path {
	fill: #999999;
	transition: fill .2s ease-out 0s;
}
.taskbar svg:hover path {
	fill: #666666;
}
.taskbar svg:active path {
	fill: #000000;
}

.item-icon-wrapper {
	display: flex;
	align-items: stretch;
	align-content: stretch;
	width: 100%;
}
li.item-icon-wrapper {
	padding: 0;
}
li .item-icon-wrapper {
	width: calc(100% + 2rem);
	margin: -1rem;
}
.item-icon-wrapper .item-icon {
	display: flex;
	align-content: center;
	align-items: stretch;
	padding: 1rem;
	background-color: #f5f5f5;
	color: #999;
	min-width: 24px;
}
.item-icon-wrapper .item-icon svg {
	margin: auto;
}
.item-icon-wrapper a, .item-icon-wrapper div {
	display: block;
	padding: 1rem;
}
.item-icon-wrapper a {
	align-self: center;
}
a.item-icon-wrapper:hover, .link.item-icon-wrapper:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}


#settingslayer {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	height: 100%;
	width: 100%;
	background: #eee;
	z-index: 2;
}


.time {
  font-style: italic;
}

#mensaplan li[data-role="list-divider"] {
    background-color: #FF9800;
}

#busplan li[data-role="list-divider"] {
    background-color: #03A9F4;
}




.color-green {
	color: #4caf50;
}
.color-red {
	color: #f44336;
}
.color-gray {
	color: #999;
}





.layout-grid {
	display: flex;
	flex-flow: column;
	margin-bottom: 1rem;
}
.hidden-small {
	display: none;
}
.price {
	min-width: 4em;
	text-align: right;
	white-space: nowrap;
}


@media screen and (min-width: 768px) {
	
	.layout-grid {
		flex-flow: row wrap;
	}
	.layout-grid .layout-container {
		width: 50%;
	}

	.hidden-small {
		display: inline;
	}
}


@media screen and (min-width: 1024px) {
	
	.layout-grid .layout-container {
		width: 25%;
	}
}