body, html {
    padding: 0;
    margin: 0;
    background: #eee;
    font: 400 1em Roboto, "Helvetica Neue", Helvetica, Arial;
    color: #343434;
}

h3 {
    margin: 1rem;
    color: #9e9e9e;
    font-size: 1.2rem;
    font-weight: 300;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
	padding: 1rem;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
}
li[data-role="list-divider"] {
	background-color: #f44336;
    color: #fff;
    font-weight: 700;
}

.content-box {
    margin: 1rem;
    padding: 0;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
}

ul .cal-time {
    font-weight: 700;
}

.taskbar {
	display: flex;
	justify-content: space-between;
}

.taskbar svg {
	opacity: 0.4;
}
.taskbar svg:hover {
	opacity: 0.8;
}
.taskbar svg:active {
	opacity: 1;
}

#settingslayer {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	height: 100%;
	width: 100%;
	background: #eee;
	z-index: 2;
}


